<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/categoria.css')}}">
</head>
<body>
    <h1> Categorias</h1>

    <nav>
        <a href="">Matematica</a>
        <a href="">Ciencias</a>
        <a href="">Sociales</a>
        <a href="">Lenguaje</a>
        

        <div class="animation start-home"></div>
    </nav>
    
    <p>
      By <span>TimeToRead</span>
    </p>
</body>
</html>